html{
    background-color: #222831;
}

.name h1{
    color: #76ABAE;
    font-size: 3rem;
    position:absolute;
    top:0px;
    left:0px;
    border: solid #31363F;
    border-radius: 25px;
    height:50px;
    width: 10000px;
    background-color: #31363F;
}

.home_pic{
    width: 250px;
    height: 250px;
    border:solid black;
    border-radius: 15px;
    position: relative;
    top:450px;
    left:550px;
    display: flex;
    align-items: center;
}

.meme{
    position: absolute;
    bottom:100px;
    left:700px;
}

.home_btn{
    position: absolute;
    top:45px;
    right:470px;
    font-size: 1.5rem;
    background-color: #76ABAE;
    border: solid #EEEEEE;
    border-radius: 10px;
    
}

.home h1{
    font-family: "Tiny5", sans-serif;
    color:white;
    font-size: 3rem;
}

.home h2{
    color:white;
    font-size: 3rem;
}

/*home page text box*/
    .home_txt{

        
        border-radius: 15px;
        height: 100px;
        width: 450px;
        padding: 20px;
        position: absolute;
        top:500px;
        left:850px;
    }
/*For the about me page*/
.about_me p{
    color:#EEEEEE;
    position: absolute;
    top:250px;
    left:350px;
    text-align: center;
    border:solid white;
    border-radius: 10px;
    font-size: 1.5rem;
    height: 150px;
    width: 1280px;
    padding:50px;
    
    
}

/*the vex robot video showing that it works*/
.video2{
    position: absolute;
    bottom: 15px;
    left:750px;
    border: solid black;
    border-radius: 10px;
}
/*The animation for the text in about me*/ 

/*This button is for the nav at the top of the page*/
.btn1 {
    position: absolute;
    top:45px;
    right:300px;
    font-size: 1.5rem;
    background-color: #76ABAE;
    border: solid #EEEEEE;
    border-radius: 10px;
}
/*This button is for the nav at the top of the page*/
.btn2 {
    position: absolute;
    top:45px;
    right:150px;
    font-size: 1.5rem;
    background-color: #76ABAE;
    border: solid #EEEEEE;
    border-radius: 10px;
}
/*This button is for the nav at the top of the page*/
.btn3 {
    position: absolute;
    top:45px;
    right:10px;
    font-size: 1.5rem;
    background-color: #76ABAE;
    border: solid #EEEEEE;
    border-radius: 10px;
}



/*to make the hover look smoother I used the */
button{
    transition: transform 0.3s ease 0s;
    cursor: pointer;
}
/*I want the buttons to go up 10px when hovered on*/
button:hover{
    transform: translateY(-10px);
}

/*I dont want the page to have any overflow to the side of the pages*/
body{
    overflow-x: hidden;
}

/*I want to get rid of the color that the hyper link has after it has been visited*/
a{
    text-decoration: none;
}

/* This is going to be the font for the main poge, i kind of want it to be a minecraft looking font*/
.tiny5-regular {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  


/*Keyframes for animation*/
@keyframes slideInLeft{
    from{
        transform: translateX(-360px)
    }

    to{
        transform: translateX(0);
    }
}

.slideInLeft{
    animation: slideInLeft 1s forwards 1;
}